h1 {
  text-align: center;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-container > div {
  background-color: white;
  width: 18rem;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.tengah {
  text-align: center;
}


#title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
